{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
    

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong></strong>{{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>
{% endfor %}
<center><h1>Login page</h1></center>
{% if email %}
<h2>the mail u entered {{ email }}<br>password  {{ password }}</h2>

<br>
<br>
<h2>hi welcome to the page{{validate.name}}<br> {{validate.email}} <br> {{validate.password_hash}}</h2>

{{ check_pwd }}

    

{% else %}

<form method="POST" class="mb-4">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>

    

    {{ form.submit(class="btn btn-primary") }}
</form>

{% endif %}

{% endblock %}