{% extends "base.html" %}
{% block content %}
<h1>view posts </h1><br>
{% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="card">
  <div class="card-header">Post.<strong>{{ post.id }}</strong></div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-title">{{ post.author }}</h6>
       <h6 class="card-title">{{ post.slug }}</h6>
        <h6 class="card-title">{{ post.text }}</h6>
        <p>{{ post.date_time }}</p>
        <a href="{{url_for('view_blog')}}" class="btn btn-outline-info">back</a>
        <a href="{{url_for('update_post',id=post.id)}}" class="btn btn-outline-info">Edit</a>
        <a href="{{url_for('delete_post',id=post.id)}}" class="btn btn-outline-danger">Delete</a>
    </div>
</div>
{% endblock %}